<nav class="navbar navbar-top navbar-expand navbar-dark bg-try border-bottom" id="navbar-main">
    <div class="container-fluid row">
        <div class="col-lg-2 d-flex justify-content-end">
            <a [routerLink]="['/home']" class="d-flex justify-content-end">
                <img src="assets/img/logo/mbsp-logo.png" />
            </a>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="h2 text-white pb-0 mb-0">Sistem Perolehan</h5>
                    <h5 class="h5 text-white">Majlis Bandaraya Seberang Perai</h5>
                </div>
                <div class="col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="col-auto">
                        <a href="javascript:void(0)" class=" h4 text-white">Utama</a>
                    </div>
                    <div class="col-auto">
                        <div class="btn-group dropdown" dropdown>
                            <button type="button" class="btn bg-try text-white dropdown-toggle" dropdownToggle>Rujukan</button>
                            <div *dropdownMenu class="dropdown-menu">
                              <a class="dropdown-item" href="javascript:void(0)">Rujukan 1</a>
                              <a class="dropdown-item" href="javascript:void(0)">Rujukan 2</a>
                              <a class="dropdown-item" href="javascript:void(0)">Rujukan 3</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="javascript:void(0)">Rujukan lain</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                         <a href="javascript:void(0)" class=" h4 text-white">Aduan</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-2 ">
            <button class="btn btn-neutral" (click)="navigatePage('login')">Log masuk</button>
        </div>
    </div>
</nav>